form(action="/auth/login_process", method="post") 
    label(for="id") ID 
    input(type="text", name="id")
    label(for="password") PW  
    input(type="text", name="pw")
    input(type="submit", value="Login")